# Project
Docs/

.claude/

# Laravel
*.log
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Temp files
*.tmp
*.temp
.cache/
